@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer;

<div class="text-center">
    <h4 class="display-4">@Localizer["Sister Associations"]</h4>
</div>

<p>
    <a href="https://www.kennisbeurs-druivenstreek.be/">Kennisbeurs DRUIVENSTREEK</a>
</p>

<p>
    <a href="https://www.asse.be/verenigingendetail/234/kennisbeurs-hopland">Kennisbeurs HOPLAND</a>
</p>

<p>
    <a href="https://kennisbeurs-pajottenland.be/">Kennisbeurs PAJOTTENLAND</a>
</p>

<p>
    <a href="http://www.kennisbeurs-steenokkerzeel.be/">Kennisbeurs STEENOKKERZEEL</a>
</p>